<h4 class='text-center'><s>Test your knowledge</s></h3>
<h4 class='text-center'><s>Matching Game</s></h3>
<h1 class='text-center'>Magical Matching!!!</h1>
<br />

<div class='container center'>
  <div class='row'>
      <h1 class='reset col-md-2 col-md-offset-4'>Reset</h3>
  </div>
  <div class='row'>
    <div class='objects col-sm-2'>
      <img class='hiden-img' src="<%= asset_path('apple.png') %>" />
    </div>
    <div class='objects col-sm-2'>
        <img class='hiden-img' src="<%= asset_path('dog.png') %>" />
    </div>
    <div class='objects col-sm-2'>
        <img class='hiden-img' src="<%= asset_path('hat.png') %>" />
    </div>
    <div class='objects col-sm-2'>
        <img class='hiden-img' src="<%= asset_path('hotdog.png') %>" />
    </div>
  </div>
  <div class='row'>
    <div class='objects col-sm-2'>
        <img class='hiden-img' src="<%= asset_path('basketball.png') %>" />
    </div>
    <div class='objects col-sm-2'>
        <img class='hiden-img' src="<%= asset_path('calc.png') %>" />
    </div>
    <div class='objects col-sm-2'>
        <img class='hiden-img' src="<%= asset_path('apple.png') %>" />
    </div>
    <div class='objects col-sm-2'>
        <img class='hiden-img' src="<%= asset_path('hotdog.png') %>" />
    </div>
  </div>
  <div class='row'>
    <div class='objects col-sm-2'>
        <img class='hiden-img' src="<%= asset_path('calc.png') %>" />
    </div>
    <div class='objects col-sm-2'>
        <img class='hiden-img' src="<%= asset_path('hat.png') %>" />
    </div>
    <div class='objects col-sm-2'>
        <img class='hiden-img' src="<%= asset_path('dog.png') %>" />
    </div>
    <div class='objects col-sm-2'>
        <img class='hiden-img' src="<%= asset_path('basketball.png') %>" />
    </div>
  </div>
  <div class='row'>
    <div class='objects col-sm-2'>
        <img class='hiden-img' src="<%= asset_path('bug.png') %>" />
    </div>
    <div class='objects col-sm-2'>
        <img class='hiden-img' src="<%= asset_path('house.png') %>" />
    </div>
    <div class='objects col-sm-2'>
        <img class='hiden-img' src="<%= asset_path('bug.png') %>" />
    </div>
    <div class='objects col-sm-2'>
        <img class='hiden-img' src="<%= asset_path('house.png') %>" />
    </div>
  </div>
</div>
